## Bundler
.bundle/*
bin/

## PROJECT::GENERAL
coverage
rdoc
pkg
log/*
tmp/*
tmp/**/*
db/*.sqlite3
public/javascripts/all.js
public/stylesheets/all.css
public/rcov
rerun.txt
capybara-*.html
public/uploads
public/logs
public/assets
