%table.program
  %tr
    %td.time= "08:30"
    %td.description.module.start.end
      %h3
        %strong= "Module 7"
        = "Case Studies"
      %ul.document_list
        = list_documents_for_module(7)