= title_and_page_title "Program Overview & Documents"

.text
  -#%p= "This is the detailed schedule of the course program."
  %ul.program
    %li
      %h4.module= "General information and documents"
    %li
      %ul
        = list_documents_for_module(1)
        
#program_content
  = render 'program_content'