a#admin_label {
  width:92px;
  height:32px;
  background:url(/images/admin/admin_label.png) no-repeat;
  display:block;
  text-indent:-9999px;
  position:absolute;
  top:11px;
  left:190px;
  z-index:2;
}

a#admin_label span {display:none;}

ul#menu {
  width:530px;
  top:5px;
}

ul#menu li {
  padding:3px 10px 10px;
}

ul#menu li a {
  width:110px;
  font-size:16px;
  padding:8px 13px 5px;
  text-align:center;
}

ul#menu li.active a {
  background:#8abf20;
  color:#000;
  font-weight:bold;
}

ul#menu li.home {
  padding:0 10px 20px;
}

#content.admin.index, #content.admin.users, #content.admin.messages, #content.admin.documents, #content.mail_templates.show {
  width:880px;
}

#content.admin table {
  width:100%;
  border-collapse:collapse;
}

#content.admin table col.odd {
  background:#1c1c1c;
}

#content.admin table col.even {
  background:#222;
}

#content.admin table tr {
  -webkit-transition:background 0.2s;
}

#content.admin table tr.alt {
  background:#171717;
}

#content.admin table tr.message:hover {
  background:#333;
  cursor:pointer;
}

#content.admin table th {
  padding:4px 8px;
  text-align:left;
  background:#000;
  border-bottom: 1px solid #444;
}

#content.admin table td {
  padding:4px 8px;
  border-top:1px solid #333;
}

#content.admin table td.gender {
  line-height:14px;
  text-align:center;
}

#content.admin table .icon_centered {
  text-align:center;
  line-height:14px;
}

#content.admin table td.from {
  width:520px;
}

#content.admin table td.from h4 {
  font-size:16px;
  line-height:18px;
}

#content.admin table td.from p.excerpt {
  font-size:14px;
  line-height:18px;
}

#content.admin table td.datetime {
  font-size:14px;
  padding:4px 12px;
}

#content.admin table td.datetime span.date {
  float:left;
}

#content.admin table td.datetime span.time {
  float:right;
}

#content.admin table td input.delete {
  width:18px;
  height:19px;
  background:url(/images/admin/trash.png) no-repeat;
  border:none;
  text-indent:-9999px;
}

#content .export {
  position:absolute;
  top:0;
  right:0;
}

#content .export a {
  padding:0 0 0 28px;
  background:url(/images/admin/export_icon.png) no-repeat;
}

#content .right_links {
  float:right;
  padding:20px 0 0;
}

#content .pagination {
  padding:20px 0 0;
}

#content.admin .actions_right {
  position:absolute;
  top:0;
  right:0;
}

#content.admin .actions_left input {
  background:#111;
  border:none;
  padding:10px;
  margin:6px 10px 6px 0;
  color:#fff;
  font-size:14px;
  float:left;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
}

#content.admin .actions_left input.mark_as_replied {
  padding-left:40px;
  background:#111 url(/images/admin/replied_icon.png) no-repeat 10px 50%;
}

#content.admin .actions_left input.move_to_trash {
  padding-left:40px;
  background:#111 url(/images/admin/trash.png) no-repeat 10px 50%;
}

#content .sheet .left_box {
  width:100px;
  float:left;
}

#content .sheet .right_box {
  float:left;
  width:630px;
}

#content .sheet .application_date {
  position:absolute;
  top:20px;
  right:20px;
}

#content .sheet p.email img {
  float:left;
  margin:4px 6px 0 0;
}

#content .text.sheet {
  padding:20px;
  background:#111;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

#content .sheet .card {
  padding:10px 0;
}

#content .sheet .card p {
  position:relative;
  padding-left:40px;
}

#content .sheet .card img {
  position:absolute;
  top:6px;
  left:0;
}

#content .text.sheet .text_box p {
  border-top:1px solid #333;
  padding:15px 0 0;
  margin-top:15px;
}

#content .text.sheet .text_box.last {border-bottom:none;}

#content .mail .content {
  padding:20px;
  background:#111;
  margin:20px 0 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

#content .mail .from {
  border-bottom:1px solid #333;
  padding:0 0 5px;
}

#content .mail .date {
  border-bottom:1px solid #333;
  padding:5px 0;
  margin-bottom:15px;
}

li.confirmation_box {
  background:#111;
  width:570px;
  padding:10px 15px 15px;
  margin-bottom:15px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

li.confirmation_box input.checkbox {
  font-size:30px;
}

li.confirmation_box .candidate_selected_contextual_info {
  padding:10px 0;
}

li.confirmation_box p.candidate_selected_contextual_info {
  color:#b9fb00;
}

#document_file {
  color:#d3d3d3;
}