- t = "Send invitation"
- title t

.text
  %h3= t
- semantic_form_for resource_name, resource, :url => invitation_path(resource_name), :html => { :class => "main" } do |f|
  
  - f.inputs do  
    = f.input :email, :required => true

  - f.buttons do
    = f.commit_button t
  
    -#= f.submit t