= title_and_page_title "Mail templates"

.text
  %table
    %colgroup
      - 2.times do
        %col{ :class => cycle("even", "odd") }
    %tr
      %th Title
      %th Actions
    = render @mail_templates