- title "mintt: admin | Mail templates > #{mail_template_title(@mail_template)}"

.text
  %h3= "Mail template"
  
  %hr
  = Liquid::Template.parse(@mail_template.content).render('user' => User.first).gsub!(/\n/, '<br />')
  %hr
  
  = link_to("edit", edit_admin_mail_template_path(@mail_template))