- title "mintt: admin | Mail templates > #{mail_template_title(@mail_template)}"

.text.mail
  %h3= "Mail template"
  
  .actions_right= link_to("edit", edit_admin_mail_template_path(@mail_template))
  
  .content
    = Liquid::Template.parse(@mail_template.content).render('user' => @user).gsub!(/\n/, '<br />')