body {
  background:#fff;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 12pt;
  width: 100%;
  margin: 0;
  float: none;
  background: #fff url(none);
}

#header, input {
  display:none;
}

table {
  border-collapse:collapse;
}

td {
  padding:7px 5px;
}

tr.alt {
  background:#ddd;
}
